[Unit]
Description     = pollux MQTT communication service
After           = syslog.target owasysd-pmsrv-ready.service
Requires        = pmsrv.service
StopWhenUnneeded=no
StartLimitInterval  = 5min
StartLimitBurst     = 2
StartLimitAction    = reboot
PartOf          = pollux.target

[Service]
ExecStartPre    = mkdir -p /var/log/pollux
ExecStart       = /usr/bin/polluxc-mqtt --start
ExecStop        = /usr/bin/polluxc-mqtt -q
StandardOutput  = null
StandardError   = null

# In case if it gets stopped, restart it immediately
Restart     = on-failure
RestartSec  = 120

[Install]
WantedBy    = pollux.target
Alias       = polluxc-mqtt.service
